@page
@model RazorPagesRecipe.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Title" class="control-label"></label>
                <input asp-for="Recipe.Title" class="form-control" />
                <span asp-validation-for="Recipe.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Category.Name" class="control-label">Category</label>
                <select asp-for="SelectedCategoryID" asp-items="@Model.Categories" class="form-control"><option>Select one</option></select>
                <span asp-validation-for="Recipe.Category.Name" class="text-danger"></span>
            </div>
            @*@for (int i = 0; i < 4; i++)
        {
            <div class="form-group">
                <label asp-for="Ingredients[i].Name" class="control-label">Ingredient @i</label>
                <input asp-for="Ingredients[i].Name" class="form-control" />
            </div>
        }*@
            <div class="form-group">
                <label asp-for="Recipe.Ingredients.FirstOrDefault().Name" class="control-label">Ingredients</label>
                <input asp-for="Recipe.Ingredients.FirstOrDefault().Name" placeholder="Please separate Ingredients with <br />" class="form-control" />
                <span asp-validation-for="Recipe.Ingredients.FirstOrDefault().Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Description" class="control-label"></label>
                <input asp-for="Recipe.Description" placeholder="Please separate paragraphs with <br />"  class="form-control" />
                <span asp-validation-for="Recipe.Description" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.TotalTime" class="control-label"></label>
                <input asp-for="Recipe.TotalTime" class="form-control" />
                <span asp-validation-for="Recipe.TotalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Source" class="control-label"></label>
                <input asp-for="Recipe.Source" class="form-control" />
                <span asp-validation-for="Recipe.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Owner" class="control-label"></label>
                <input asp-for="Recipe.Owner" class="form-control" />
                <span asp-validation-for="Recipe.Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
