@page
@model RazorPagesRecipe.Pages.Recipes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Recipe.RecipeID" />

        <div class="form-group">
            <label asp-for="Recipe.Title" class="control-label"></label>
            <input asp-for="Recipe.Title" class="form-control" />
            <span asp-validation-for="Recipe.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedCategoryID" class="control-label">Category</label>
            <select asp-for="SelectedCategoryID" asp-items="@Model.Categories" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="Recipe.Portions" class="control-label"></label>
            <input asp-for="Recipe.Portions" class="form-control" />
            <span asp-validation-for="Recipe.Portions" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Recipe.Ingredients" class="control-label">Ingredients</label>
            <pre><textarea class="form-control" input asp-for="Recipe.Ingredients" rows="5"></textarea></pre>
            <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Utensils" class="control-label">Utensils</label>
            <select multiple="multiple" asp-for="SelectedUtensilsID" asp-items="@Model.Utensils" class="form-control"></select>
            <span asp-validation-for="Utensils" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="Recipe.Description" class="control-label"></label>
            <pre><textarea class="form-control" input asp-for="Recipe.Description" rows="5"></textarea></pre>
            <span asp-validation-for="Recipe.Description" class="text-danger"></span>
        </div>
        <div class="custom-control-lg custom-control custom-checkbox">
            <input asp-for="Recipe.Vegetarian" class="custom-control-input" id="checkbox-large" type="checkbox" />
            <label class="custom-control-label" for="checkbox-large">
                Vegetarian?
            </label>
            <span asp-validation-for="Recipe.Vegetarian" class="text-danger"></span>
        </div>
        <div class="custom-control-lg custom-control custom-checkbox">
            <input asp-for="Recipe.Freezable" class="custom-control-input" id="checkbox-large2" type="checkbox" />
            <label class="custom-control-label" for="checkbox-large2">
                Freezable?
            </label>
            <span asp-validation-for="Recipe.Freezable" class="text-danger"></span>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="Recipe.PreparationTime" class="control-label"></label>
            <input asp-for="Recipe.PreparationTime" class="form-control" />
            <span asp-validation-for="Recipe.PreparationTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Recipe.CookingTime" class="control-label"></label>
            <input asp-for="Recipe.CookingTime" class="form-control" />
            <span asp-validation-for="Recipe.CookingTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Recipe.Source" class="control-label"></label>
            <input asp-for="Recipe.Source" class="form-control" />
            <span asp-validation-for="Recipe.Source" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="SelectedOwnerID" class="control-label">Owner</label>
            <select asp-for="SelectedOwnerID" asp-items="@Model.Owners" class="form-control"></select>
        </div>*@
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
