@page
@model RazorPagesRecipe.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}
@Html.AntiForgeryToken()
@*<h1>Index</h1>*@

<p>
    <a asp-page="Create">Create New</a>
</p>

<ejs-grid id="GridRecipes" load="onLoad" allowTextWrap="false" toolbar="@(new List<string>() {"Search"})" allowMultiSorting="true" allowSorting="true" allowGrouping="true">
    @*Search has some issues, needs searchSettings fields*@
    <e-grid-searchSettings fields="@(new string[] { "Category", "Title", "Ingredients", "TotalTime", "Freezable", "Source" })" ignoreCase="true"></e-grid-searchSettings>
    <e-grid-groupsettings columns="@(new string[] {"Category"})"></e-grid-groupsettings>
    @*<e-grid-pagesettings pageSize="50"></e-grid-pagesettings>*@
    <e-data-manager url="/Recipes/Index?handler=DataSource" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-columns>
        <e-grid-column field="ID" headerText="Recipe ID" textAlign="Right" width="60" visible="false"></e-grid-column>
        <e-grid-column field="Category" headerText="Category" width="90"></e-grid-column>
        <e-grid-column field="Name" template="#temp" width="250" allowGrouping="false"></e-grid-column>
        <e-grid-column field="TotalTime" headerTemplate="#timeTemplate" width="50"></e-grid-column>
        <e-grid-column field="Vegetarian" headerTemplate="#vegTemplate" displayAsCheckBox="true" width="60"></e-grid-column>
        <e-grid-column field="Freezable" headerTemplate="#freezeTemplate" displayAsCheckBox="true" width="60"></e-grid-column>
        @*<e-grid-column field="Owner" headerTemplate="#ownerTemplate" width="70"></e-grid-column>*@
        @*<e-grid-column field="Ingredients" headerText="Ingredients" width="90"></e-grid-column>*@
        @*<e-grid-column field="Source" headerText="Source" width="60"></e-grid-column>*@
    </e-grid-columns>
</ejs-grid>

<script type="text/x-jsrender" id="timeTemplate">
    <i class="fa fa-clock-o" @*style="font-size:20px;"*@></i>
</script>
<script type="text/x-jsrender" id="ownerTemplate">
    <i class="fa fa-user"></i>
</script>
<script type="text/x-jsrender" id="vegTemplate">
    <i class="fa fa-leaf"></i>
</script>
<script type="text/x-jsrender" id="freezeTemplate">
    <i class="fa fa-snowflake-o"></i>
</script>
<script type="text/x-jsrender" id="temp">   
    <a id="ID" rel='nofollow' href="Recipes/Details?id=${ID}">${Title}</a>
</script>
<script>
    function onLoad() {
        this.dataSource.dataSource.headers = [{ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val() }];
    }
</script>

